@font-face {
    font-family: 'Kids';
    src: url('./assets/fonts/Kids.woff2') format('woff2'),
         url('./assets/fonts/Kids.woff')  format('woff'),
         url('./assets/fonts/Kids.ttf')   format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Open Sans';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, .font {
    font-family: 'Kids', 'Open Sans', sans-serif;
}

h1 {
    line-height: 95px;
    font-size: 85px;
}

h2 {
    line-height: 45px;
    font-size: 38px;
}

h3 {
    line-height: 30px;
    font-size: 25px;
}

.B {
    display: inline-block;
    transform: scaleX(-1);
}

.bold {
    font-weight: bold;
}

@import './components/index';
@import './pods/index';
