@font-face {
  font-family: 'Kids';
  src: url("./assets/fonts/Kids.woff2") format("woff2"), url("./assets/fonts/Kids.woff") format("woff"), url("./assets/fonts/Kids.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6, .font {
  font-family: 'Kids', 'Open Sans', sans-serif; }

h1 {
  line-height: 95px;
  font-size: 85px; }

h2 {
  line-height: 45px;
  font-size: 38px; }

h3 {
  line-height: 30px;
  font-size: 25px; }

.B {
  display: inline-block;
  transform: scaleX(-1); }

.bold {
  font-weight: bold; }

.hbd-section {
  min-height: 100vh; }

.about-us-section {
  min-height: 90vh;
  background-image: url("./assets/png/gingham.png");
  padding: 20px; }

.about-us-section h2 {
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF; }

.about-us-section .about-us {
  padding: 0px 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px; }

.about-us-section .dee-dee-vines {
  max-height: 70vh; }

.contacts-section {
  min-height: 90vh;
  background: url("./assets/png/fruit-border-background.png") no-repeat center center;
  background-size: cover;
  flex-direction: column;
  align-items: normal; }

.contacts-section header h2 {
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF; }

.contacts-section .bubbles {
  margin-top: 50px;
  font-family: 'Kids'; }

.contacts-section .bubbles .bubble {
  display: flex;
  flex-direction: column;
  margin: 10px; }

.contacts-section .bubbles .bubble .bubble-icon {
  background-color: gray;
  fill: white;
  width: 100px;
  height: 100px;
  padding: 25px;
  border-radius: 100%; }

.contacts-section .bubbles .bubble .bubble-text {
  text-align: center; }

.flavors-section {
  min-height: 90vh;
  background: url("./assets/png/strawberry-rhubarb.png") no-repeat center center;
  background-size: cover; }

.flavors-section .flavors {
  max-height: 70vh; }

.pricing-section {
  min-height: 90vh;
  background: url("./assets/jpg/bread.jpg") no-repeat center center;
  background-size: cover; }

.pricing-section .pricing-product {
  margin: 10px;
  border-radius: 20px;
  border: 2px solid #8F9EC8;
  background-color: #8F9EC8;
  max-width: 200px; }

.pricing-section .pricing-product header {
  background-color: #8F9EC8;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; }

.pricing-section .pricing-product ul {
  list-style: none;
  padding: 0;
  background-color: white;
  margin-bottom: 0; }

.pricing-section .pricing-product ul li {
  padding: 5px 0;
  border-bottom: 1px solid lightgray; }

.pricing-section .pricing-product footer {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  font-size: 40px;
  line-height: 48px;
  background-color: white; }

.welcome-section {
  min-height: 90vh;
  background: url("./assets/jpg/fruit-flat-lay.jpg") no-repeat center center;
  background-size: cover; }

.welcome-section h1 {
  text-shadow: -2px -2px 0 #FFF, 2px -2px 0 #FFF, -2px 2px 0 #FFF, 2px 2px 0 #FFF; }

.welcome-section h2, .welcome-section h3 {
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF; }

.welcome-section h2 {
  display: flex;
  align-items: center; }

.welcome-section h2 svg {
  height: 42px; }

.welcome-section .welcome-logo {
  max-height: 70vh; }
